# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.ist
*.xdy
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.pdf

# OS files
.DS_Store
Thumbs.db
